---
---

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-4">
	{[1, 2, 3, 4, 5, 6].map(() => (
		<div class="bg-neutral-100 p-5 rounded-[24px] aspect-square flex flex-col items-center justify-between group hover:bg-black transition-colors duration-500">
			<h3 class="text-sm font-bold text-black group-hover:text-white transition-colors uppercase tracking-widest leading-none self-start">
				Contacto
			</h3>
			<div class="w-8 h-8 bg-neutral-300 rounded-full self-end group-hover:bg-primary transition-colors"></div>
		</div>
	))}
</div>
