---
import SectionContainer from "./SectionContainer.astro";
import FeatureCard from "./FeatureCard.astro";

const coordinadores = [
	{ nickname: "Nickname", name: "Nombre y Apellido", role: "Technical Education" },
	{ nickname: "Nickname", name: "Nombre y Apellido", role: "Technical Education" },
];
---

<SectionContainer id="coordinadores" class="flex flex-col items-center justify-center min-h-[50vh] py-24">
	<div class="flex flex-col gap-10 w-full max-w-3xl mx-auto">
		<div class="flex items-center gap-4">
			<h2 class="text-4xl md:text-5xl font-bold text-black leading-none">Coordinadores</h2>
			<div class="h-[1px] flex-grow bg-neutral-100 hidden md:block"></div>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 justify-center">
			{coordinadores.map(member => (
				<div class="flex justify-center">
					<FeatureCard {...member} horizontal={true} class="w-full" />
				</div>
			))}
		</div>
	</div>
</SectionContainer>
