---
import SectionContainer from "./SectionContainer.astro";
import Button from "./Button.astro";
---

<SectionContainer class="min-h-screen flex items-center justify-center pt-32 pb-24">
	<div class="flex flex-col gap-10 max-w-4xl w-full">
		<h1 class="text-7xl md:text-9xl font-bold leading-[0.85] tracking-tighter text-black">
			Lorem <br/>
			Ipsum is <br/>
			simply <br/>
			dummy text
		</h1>
		
		<div class="mt-4">
			<Button variant="secondary" size="lg" class="px-10 py-3 text-sm rounded-xl font-bold uppercase tracking-widest">Recursos de Puqi</Button>
		</div>
	</div>
</SectionContainer>
