---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<section class:list={["py-16 md:py-24 px-4 w-full flex justify-center", className]}>
	<div class="max-w-7xl w-full">
		<slot />
	</div>
</section>
